noderedflow.json
[{"id":"3e975c0a.2348f4","type":"http in","z":"20f419c0.49a8b6","name":"","url":"/watson-slack","method":"post","swaggerDoc":"","x":120.5,"y":176,"wires":[["5c373904.224378","82b1e7c7.cf2968"]]},{"id":"5c373904.224378","type":"debug","z":"20f419c0.49a8b6","name":"","active":true,"console":"false","complete":"payload","x":255.5,"y":90,"wires":[]},{"id":"82b1e7c7.cf2968","type":"switch","z":"20f419c0.49a8b6","name":"","property":"payload.token","propertyType":"msg","rules":[{"t":"eq","v":"NISA6e3GxD1CRAkxA8MbnSqa","vt":"str"},{"t":"neq","v":"NISA6e3GxD1CRAkxA8MbnSqa","vt":"str"}],"checkall":"true","outputs":2,"x":291.5,"y":178,"wires":[["9fbb37b6.aab408"],["86086ef3.52237"]]},{"id":"115b922b.41526e","type":"http response","z":"20f419c0.49a8b6","name":"","x":870.5,"y":50,"wires":[]},{"id":"86086ef3.52237","type":"http response","z":"20f419c0.49a8b6","name":"if token key doesn't match","x":388.5,"y":281,"wires":[]},{"id":"9fbb37b6.aab408","type":"function","z":"20f419c0.49a8b6","name":"Payload to text","func":"msg.payload = msg.payload.text;\nreturn msg;\n","outputs":1,"noerr":0,"x":464.5,"y":162,"wires":[["eef0dc73.0b308"]]},{"id":"b6087555.3b2058","type":"function","z":"20f419c0.49a8b6","name":"If/else intent statement","func":"if(msg.payload.output) {\n  if(msg.payload.output.text) {\n      msg.payload = {\"text\": msg.payload.output.text[msg.payload.output.text.length-1]}\n  }\n} else {\n  msg.payload = {\"text\": \"Sorry I did not understand\"}\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":871.5,"y":147,"wires":[["115b922b.41526e"]]},{"id":"eef0dc73.0b308","type":"watson-conversation-v1","z":"20f419c0.49a8b6","name":"Conversation Workspace & ID","workspaceid":"004519e7-d88d-45df-83f3-c785f30b2c0b","multiuser":false,"context":true,"x":678.5,"y":358,"wires":[["b6087555.3b2058","faa001a0.955a4"]]},{"id":"faa001a0.955a4","type":"debug","z":"20f419c0.49a8b6","name":"","active":true,"console":"false","complete":"payload","x":998,"y":372,"wires":[]}]
